{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "arrowParens": "always",
  "printWidth": 120,
  "jsxSingleQuote": false,
  "jsxBracketSameLine": false,
  "endOfLine": "auto",
  "quoteProps": "consistent",
  "useTabs": false,
  "bracketSpacing": true,
  "proseWrap": "preserve",
  "htmlWhitespaceSensitivity": "css"
}
